.sidebar {
  position: relative;
  width: 35%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.452);
  padding: 50px;

  &__input {
    width: 70%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.76);
    font-size: 18px;
    color: rgba(255, 255, 255, 0.76);
    padding: 12px 0;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: rgba(255, 255, 255, 0.76);
    }
  }

  &__searchbtn {
    position: absolute;
    top: 0;
    right: 0;
    width: 95px;
    height: 95px;
    border: none;
    border-radius: 2px;
    font-size: 40px;
    cursor: pointer;
  }

  &__list {
    display: grid;
    grid-template-columns: auto auto;
    padding-top: 40px;
  }

  &__item {
    margin-bottom: 10px;

    &:hover .sidebar__city {
      color: #fff;
    }
  }

  &__city {
    background: none;
    border: none;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.76);
    transition: all 0.4s ease;
    cursor: pointer;
  }

  &__box {
    padding: 30px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.76);
  }

  &__weather {
    color: #fff;
    margin-bottom: 30px;
  }

  &__infobox {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }

  &__name {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.76);

  }

  &__info {
    font-size: 18px;
    color: #fff;
  }

}

@media screen and (max-width: 883px) {
  .sidebar {
    width: 100%;

    &__list {
      display: none
    }
  }
}


@media screen and (max-width: 576px) {
  .sidebar {

    &__inputbox {
      position: relative;
      border-bottom: 1px solid rgba(255, 255, 255, 0.76);
    }

    &__input {
      border: none;
    }

    &__searchbtn {
      top: 10px;
      width: 30px;
      height: 30px;
      background: none;
      font-size: 26px;
      color: rgba(255, 255, 255, 0.76);
      transition: all 0.4s ease;

      &:hover {
        color: #fff;
      }
    }
  }
}